body{
   
    background-color: black;
 }
 pre{color: #f0f8ff;
     margin-left: 210px;
 }
 b{ margin: 40px;
     color:rgb(199, 41, 20);
 }
 p{
     margin: 40px;
     color: cornflowerblue;
 }
 h1{
     color: aliceblue;
     text-align: center;
 }
 
 